Boto3
redis
celery
django
django-debug-toolbar
django-extensions
django-model-utils
django-modeltranslation
django-heroku
django-rosetta
django-storages
django_celery_beat
django_celery_results
django_redis_cache
gunicorn
Pillow
reportlab