{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div id="hero" class="Commitments-hero" style="background-image: url('{{ overview.commitments_image.url  }}')">
  <h1 class="Tab-Overview">{% trans "Case Documents" %}</h1>
</div>
<div id="documents" class="Section bg-dark">
  <div class="SectionContent Grid">
    {% for document in document_list %}
    <div class="Challenge">
      <div class="Challenge-title">{{ document.name }}</div>
      <img src="{{ challenge.image.url }}">
      <div class="Challenge-description">{{ document.description }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

