{% extends 'base.html' %}

{% block body %}
  <div id="hero">
    <div class="VideoContainer">
      <iframe class="videoContainer__video" width="100%" height="700px" src="https://www.youtube.com/embed/wiNaYiCYI14?rel=0" frameborder="0">
      </iframe>
    </div>
  </div>
  <div id="story1" class="Section">
    <div class="Tab-Overview">Overview</div>
    <h2 class="text-center BlueGreen">The Story</h2>
    <p class="SectionContent"><span class="text-uppercase"><strong>{{ overview.story_part1|slice:":30" }}</strong></span>{{ overview.story_part1|slice:"30:" }}</p>
  </div>
  <div id="image1" class="BgImage BgImage-1"></div>
  <div id="story2" class="Section">
    <div class="SectionContent d-flex flex-column flex-md-row justify-content-between">
      <p>{{ overview.story_part2 }}</p>
      <p>{{ overview.story_part3 }}</p>
    </div>
  </div>
  {% include 'scorecard/achievements.html' %}
  <div id="challenges" class="Section bg-dark">
    <h2 class="text-center LightBlue mb-5">Challenges Ahead</h2>
    <div class="SectionContent Grid">
      {% for challenge in challenge_list %}
      <div class="Challenge {% if challenge.is_featured %}Featured{% endif %}">
        <div class="Challenge-title">{{ challenge.name }}</div>
        <img src="{{ challenge.image.url }}">
        <div class="Challenge-description">{{ challenge.description|safe }}</div>
      </div>
      {% endfor %}
    </div>
    <hr class="AccentBar"></hr>
    <div class="SectionContent White p-3">
      {{ overview.challenges_text|safe }}
      <div class="ChartArea bg-white pl-5 pr-3 pt-4 pb-5 mt-5">
        <h4 class="pt-2">Status of Commitments</h4>
        <div id="id_commitmentChart" width="100%"></div>
        <p>{{ overview.commitment_chart_text }}</p>
      </div>
    </div>
  </div>
  <div id="recommendations" class="Section bg-bluegreen">
    <h2 class="text-center Yellow mb-5">Recommendations</h2>
    <div class="SectionContent p-3">
      <ul class="White">
        {% for recommendation in recommendation_list %}
        <li><span class="White text-uppercase pr-2">{{ recommendation.name }}</span><span class="LightBlue">{{ recommendation.description }}</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a href="{% url 'commitment-list' %}" class="CommitmentsButton">Commitments <i class="fal fa-angle-right"></i></a>
{% endblock %}
{% block javascript %}
  <script>
    $( '.Challenge' ).click(function() {
      $( this ).find( '.Challenge-description' ).slideToggle( 'slow' );
    })
    // $( '.Challenge' ).hover(function() {
    //   $(this).find( '.Challenge-description' ).slideDown( 'slow' );
    // }, function() {
    //   $(this).find( '.Challenge-description' ).slideUp( 'fast' );
    // })
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawCommitmentChart);

    function drawCommitmentChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Completed');
      data.addColumn('number', 'In progress');
      data.addColumn('number', 'Delayed');
      data.addColumn('number', 'Not yet started');

      data.addRows([
        ['January 2019', 18, 5, 5, 3],
        ['March 2020', 22, 7, 9, 11],
      ]);

      var options = {
        animation: {
          startup: true,
          duration: 1000,
          easing: 'out',
        },
        isStacked: true,
        colors: ['#74D6DB', '#007D8A', '#FFCC00', '#494949'],
        chartArea: {
          left: 30,
          width: '75%', 
          height: '80%',
        },
        height: 520,
        hAxis: {
          gridlines: {
            count: 2,
            color: 'transparent',
          },
          textStyle: {
            fontName: 'Montserrat',
          },
        },
        vAxis: {
          ticks: [0,20,40,60,80],
          textStyle: {
            fontName: 'Montserrat',
          },
          // title: 'Rating (scale of 1-10)'
        },
        legend: {
          textStyle: {
            fontName: 'Montserrat',
          },
        },
        bar: { groupWidth: '55%' },
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('id_commitmentChart'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}
