{% extends 'base.html' %}

{% block body %}
  <div id="hero">
    <div class="VideoContainer">
      <iframe class="videoContainer__video" width="100%" height="700px" src="https://www.youtube.com/embed/wiNaYiCYI14?rel=0" frameborder="0">
      </iframe>
    </div>
  </div>
  <div id="story1" class="Section">
    <span class="Tab-Overview">Overview</span>
    <h2 class="text-center BlueGreen">The Story</h2>
    <p class="SectionContent"><span class="text-uppercase"><strong>{{ overview.story_part1|slice:":30" }}</strong></span>{{ overview.story_part1|slice:"30:" }}</p>
  </div>
  <div id="image1" class="BgImage BgImage-1"></div>
  <div id="story2" class="Section">
    <div class="SectionContent d-flex justify-content-between">
      <p>{{ overview.story_part2 }}</p>
      <p>{{ overview.story_part3 }}</p>
    </div>
  </div>
  <div id="achievements" class="Section">
    <h2 class="text-center Yellow">Achievements to Date</h2>
    <div id="achievements_carousel" class="Carousel">
    </div>
    <hr class="AccentBar"></hr>
    <h3 class="SectionContent LightGray mt-5">{{ overview.achievements_text }}</h3>
  </div>

{% endblock %}
