{% extends 'base.html' %}

{% block body %}
  <div id="hero">
    <div class="VideoContainer">
      <iframe class="videoContainer__video" width="100%" height="700px" src="https://www.youtube.com/embed/wiNaYiCYI14?rel=0" frameborder="0">
      </iframe>
    </div>
  </div>
  <div id="story1" class="Section">
    <div class="Tab-Overview">Overview</div>
    <h2 class="text-center BlueGreen">The Story</h2>
    <p class="SectionContent"><span class="text-uppercase"><strong>{{ overview.story_part1|slice:":30" }}</strong></span>{{ overview.story_part1|slice:"30:" }}</p>
  </div>
  <div id="image1" class="BgImage BgImage-1"></div>
  <div id="story2" class="Section">
    <div class="SectionContent d-flex flex-column flex-md-row justify-content-between">
      <p>{{ overview.story_part2 }}</p>
      <p>{{ overview.story_part3 }}</p>
    </div>
  </div>
  <div id="achievements" class="Section">
    <h2 class="text-center Yellow mb-5">Achievements to Date</h2>
    <div id="achievements_carousel" class="Carousel">
    </div>
    <hr class="AccentBar"></hr>
    <h3 class="SectionContent LightGray">{{ overview.achievements_text }}</h3>
  </div>
  <div id="challenges" class="Section bg-dark">
    <h2 class="text-center LightBlue mb-5">Challenges Ahead</h2>
    <div class="SectionContent Grid">
      {% for challenge in challenge_list %}
      <div class="Challenge {% if challenge.is_featured %}Featured{% endif %}">
        <div class="Challenge-title">{{ challenge.name }}</div>
        <img src="{{ challenge.image.url }}">
        <div class="Challenge-description">{{ challenge.description|safe }}</div>
      </div>
      {% endfor %}
    </div>
    <hr class="AccentBar"></hr>
    <div class="SectionContent White p-3">
      {{ overview.challenges_text|safe }}
    </div>
  </div>
  <div id="recommendations" class="Section bg-bluegreen">
    <h2 class="text-center Yellow mb-5">Recommendations</h2>
    <div class="SectionContent p-3">
      <ul class="White">
        {% for recommendation in recommendation_list %}
        <li><span class="White text-uppercase pr-2">{{ recommendation.name }}</span><span class="LightBlue">{{ recommendation.description }}</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a href="" class="CommitmentsButton">Commitments <i class="fal fa-angle-right"></i></a>
{% endblock %}
{% block javascript %}
  <script>
    $( '.Challenge' ).hover(function() {
      $(this).find( '.Challenge-description' ).slideDown( 'slow' );
    }, function() {
      $(this).find( '.Challenge-description' ).slideUp( 'fast' );
    })
  </script>
{% endblock %}
