{% load i18n %}
{{ redirect_to }}
<form id="id_translateForm" class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="post">{% csrf_token %}
  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
  <div class="row">
    <div class="col">
      <select id="id_selectLanguage" class="form-control d-none" name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <!-- {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_translated }}
            </option>
        {% endfor %} -->
        <p>lang code: {{ LANGUAGE_CODE }}</p>
        <p>available: {{ LANGUAGES }}</p>
        <p>langs: {{ languages }}</p>
        <option value="en"{% if LANGUAGE_CODE == 'mn' %} selected{% endif %}>
          English
        </option>
        <option value="mn"{% if 'en' in LANGUAGE_CODE %} selected{% endif %}>
          Монгол
        </option>
      </select>
    </div>
    <div class="col">
      <!-- <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" /> -->
      <input class="Translate bg-dark" type="submit" value="{% if 'en' in LANGUAGE_CODE %}Монгол{% else %}English{% endif %}">
    </div>
  </div>
</form>