{% load static %}
{% load admin_urls %}
<div class="TitleBar d-flex align-items-start flex-column flex-md-row bg-dark">
  <a class="navbar-brand" href="https://www.accountabilitycounsel.org"><img class="Logo" src="https://scorecard-static.s3-us-west-1.amazonaws.com/Accountability+Counsel_Logo_White2.png"></a>
  <h1 class="mr-auto"><a class="h1 Title LightBlue" href="{% url 'home' %}">{{ overview.name }}</a></h1>
  <a href="" class="Translate">Монгол</a>

</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse navbar-expand-xlg" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item dropdown mr-3 ml-auto">
        <a class="nav-link {% if title == 'Overview' %}Active{% endif %}" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          Overview
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuOverview">
          <a class="dropdown-item" href="{% if title == 'Commitments' %}{% url 'home' %}{% endif %}#story1">The Story</a>
          <a class="dropdown-item" href="{% if title == 'Commitments' %}{% url 'home' %}{% endif %}">Achievements to Date</a>
          <a class="dropdown-item" href="{% if title == 'Commitments' %}{% url 'home' %}{% endif %}#challenges">Challenges Ahead</a>
          <a class="dropdown-item" href="{% if title == 'Commitments' %}{% url 'home' %}{% endif %}#recommendations">Recommendations</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if title == 'Commitments' %}Active{% endif %}" href="{% url 'commitment-list' %}" id="navbarCommitments" role="button">
          Commitments
        </a>
      </li>
    </ul>
  </div>
</nav>